@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC&family=Poppins&display=swap');
:root {
    /* CSS HEX */
    --fire-engine-red: rgb(207, 15, 29);
    --fern-green: rgb(84, 122, 46);
    --celestial-blue: #49A3EAff;
    --picton-blue-2: rgb(98, 184, 236);
    --cadet-gray: rgb(152, 166, 166);

    --header-font: 'Poppins', 'sans serif';
    --paragraph-font: 'Alice', serif;
    --extra-font: 'Playfair Display SC', serif;
}

* {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: auto auto 44px;
    text-align: center;
    align-items: end;
}

header img {
    margin: auto;
}

header, footer {
    background-color: rgba(152, 166, 166, .6);
    color: var(--fire-engine-red);
    padding: 1rem;
}

/* Menu Styling */
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--font);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

#myButton::before {
    content: "\2630";
}

#myButton.open::before {
    content: "x"
}

a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--border);
}

ul.navigation li a, #call {
    display: block;
    padding: .75rem 2vw;
    color: var(--font);
    text-decoration: none;
}

nav.animateMe.open li.active a {
    background-color: rgba(0, 0, 139, .2);
}

ul.navigation {
    list-style-type: none;
}

nav.animateMe {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav.animateMe ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

nav {
    background-color: rgba(84, 122, 46, .4);
}



/* Grid/List Toggle Buttons */
#grid, #list {
    font-size: 2rem;
    background: rgba(207, 15, 29, .5);
    border: 2px solid var(--fern-green);
    color: var(--font);
    cursor: pointer;
    min-width: 75px;
    width: 35%;
    text-align: center;
    padding: .25rem 2vw;
    margin: .5rem;
    /* justify-self: center; */
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#grid {
    justify-self: right;
}

h1, h2 {
    font-family: var(--header-font);
}

main {
    background-color: rgba(98, 184, 236, .6);
    color: #fff;
    padding: 20px;
    display: grid;
    /* grid-template-columns: auto auto; */
    /* border: .5rem solid var(--fire-engine-red); */
    /* border-radius: 20px 20px; */
}

p {
    font-family: var(--paragraph-font);
}


.card {
    margin: 20px;
    padding: 20px;
    background-color: rgba(84, 122, 46, .8);
    border-radius: 25px 25px;
    text-align: center;
}

.card p, .card h2 {
    padding: 3px;
}

h2 {
    font-size: 20px;
    font-family: var(--heading-font);
    color: var(--font);
}

p {
    font-size: 16px;
    font-family: var(--paragraph-font);
    color: var(--font);
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: rgb(152, 166, 166);
    border: 1.5px solid var(--fire-engine-red);
    border-radius: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards img {
    width: auto;
    max-width: 300px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}

table, tr, td {
    border: 2px solid var(--cadet-gray);
    text-align: center;
}

table {
    width: 50%;
    justify-self: center;
}

tr {
    height: 44px;
    color: black
}

.Member {
    background-color: rgba(205, 127, 50, .6); 
}

.Silver {
    background-color: rgba(192, 192, 192, .6);
}

.Gold {
    background-color: rgba(255, 215, 0, .6);
}

footer {
    display: block;
}

footer div {
    text-align: center;
    align-content: center;
    padding: 15px
}

div a img{
    /* ensure even spacing without vertical axis spacing */
    padding: 0 1rem;
}

/* Home page specific CSS */
#homeMain {

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#hero {
    margin: auto;
    max-width: 95%;
    grid-column: 1 / -1;
}

#hero img {
    margin: 0;
    padding: 0;
    width: 100%;
}

#call {
    background-color: white;
    color: var(--fire-engine-red);
    border: solid;
    width: 132px;
    border-radius: 25px;
    height: 44px;
    text-align: center;
    padding: 20px 10px;
    line-height: 44px;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

#call:hover {
    border-color: white;
    background-color: var(--fire-engine-red);
    color: white;
}

#currentEvents ul {
    list-style: none;
    padding: 5px;
}

#currentEvents ul li {
    padding: 5px;
}


#homeMain div {
    grid-column: 1 / -1;
}

/* Join page specific delcarations */

form {
    margin: auto;
    max-width: 350px;
    padding: 15px;
    border: 2px solid var(--fire-engine-red);
    background-color: var(--cadet-gray);
    border-radius: 25px 25px;
    color: black;
}

form label {
      display: block;
      font-size: .8rem;
      color: var(--font);
      padding-top: .2rem;
    }
form h3 {
      font-size: .9rem;
      color: var(--font);
      margin: 1.5rem 0 .2rem 0;
      border-bottom: 1px solid #eee;
    }
  
form input[type=text],
form input[type=tel],
form input[type=date],
form input[type=email],
form select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border: 1px solid #999;
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color:#555;
      font-size: 1rem;
      color: #3D405B;
      width: 250px;
      appearance: none;
    }
  
form input:required {border-left-color: #d70000;}
form input:focus {border-left-color: black; outline:none;}
form input:required:valid{border-left-color: green;}
  
form input[type=submit] {
      border: none;
      text-align: center;
      background-color: var(--fern-green);
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
    }

input:-webkit-autofill{
    -webkit-text-fill-color: #3D405B;
  }
  
#results {
    background-color: #F4F1DE;
    padding: 0 1rem;
    border: 1px solid #E07A5F;
    border-radius: 6px;
  }

#levels {
    min-height: 600px;
}

.memCard {
    width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    color: black;
}

.memCard:hover {
    border-width: 3px;
}

.memCard button {
    border-radius: 25px;
    margin: 5px;
    background-color: var(--fern-green);
    cursor: pointer;
    color: white;
}

#Non-Profit {
    background-color: rgba(255, 255, 255, .6);
    animation-duration: 3000ms;
    animation-name: slidein;
}

#Bronze {
    background-color: rgba(206, 137, 70,2);
    animation-duration: 3500ms;
    animation-name: slidein;
}

#Silver {
    background-color: rgba(192,192,192,1);
    animation-duration: 4000ms;
    animation-name: slidein;
}

#Gold {
    background-color: rgba(255, 215, 0, 1);
    animation-duration: 4500ms;
    animation-name: slidein;
}

/* Styling the Dialog*/
dialog {
    border: 2px solid var(--fire-engine-red);
    padding: 2em;
    max-width: 50ch;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
    border-radius: 25px 25px;
    margin: auto;
    width: 80%;
    text-align: center;
}

dialog ul {
    list-style: none;
    text-align: left;
}

dialog ul li:before {
    color: #000;
    content: "\27bd \0020";
}

::backdrop {
    background: var(--picton-blue-2);
    opacity: .5;
}

.close-button {
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  background: var(--cadet-gray);
}

dialog button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: var(--fire-engine-red);
    border-radius: 25px 25px;
    padding: .75em;
    background: var(--fern-green);
    color: white;
  }

/* CSS Animation */

  @keyframes slidein {
    from {
        transform: translate(150vw);
        opacity: 0;
    }

    50% {
        opacity: 25%;
    }

    75% {
        opacity: 90%;
    }

    to {
        transform: translate(0);
    }
    
  }

#results {
    background-color: var(--cadet-gray);
    padding: 15px;
}

#results p {
    padding: 5px;
}

/* discover specific css */
figure {
    background: rgba(84, 122, 46, .6);
    margin: 1rem;
    padding: 2rem;
    border-radius: 25px;
    text-align: center;
    max-width: 80%;
}

#visit {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    background-color: rgb(152, 166, 166);
    padding: .75rem;
    border-radius: 25px;
    z-index: 1;
}

.close {
    opacity: 0;
}

#discoverLocations figure img {
    max-width: 80%;
    border-radius: 25px;
}

@media (min-width: 550px) {

    .navigation,
    ul.open {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    li.active a {
        background-color: rgba(0, 0, 139, .2);
    }

    #myButton {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    nav.animateMe {
        grid-template-rows: 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    #joinMain, #discoverMain {
        display: grid;
        grid-template-columns: 350px auto;
    }

    #discoverLocations figure img {
        opacity: .7;
    }

    #discoverLocations figure img:hover {
        opacity: 1;
    }
}