@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC&family=Poppins&display=swap');
:root {
    /* CSS HEX */
    --fire-engine-red: rgb(207, 15, 29);
    --fern-green: rgb(84, 122, 46);
    --celestial-blue: #49A3EAff;
    --picton-blue-2: rgb(98, 184, 236);
    --cadet-gray: rgb(152, 166, 166);

    --header-font: 'Poppins', 'sans serif';
    --paragraph-font: 'Alice', serif;
    --extra-font: 'Playfair Display SC', serif;
}

* {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: auto auto 44px;
    text-align: center;
    align-items: end;
}

header img {
    margin: auto;
}

header, footer {
    background-color: rgba(152, 166, 166, .6);
    color: var(--fire-engine-red);
    padding: 1rem;
}

/* Menu Styling */
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--font);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

#myButton::before {
    content: "\2630";
}

#myButton.open::before {
    content: "x"
}

a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--border);
}

ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--font);
    text-decoration: none;
}

nav.animateMe.open li.active a {
    background-color: rgba(0, 0, 139, .2);
}

ul.navigation {
    list-style-type: none;
}

nav.animateMe {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav.animateMe ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

nav {
    background-color: rgba(84, 122, 46, .4);
}



/* Grid/List Toggle Buttons */
#grid, #list {
    font-size: 2rem;
    background: rgba(207, 15, 29, .5);
    border: 2px solid var(--fern-green);
    color: var(--font);
    cursor: pointer;
    min-width: 75px;
    width: 35%;
    text-align: center;
    padding: .25rem 2vw;
    margin: .5rem;
    /* justify-self: center; */
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#grid {
    justify-self: right;
}

h1, h2 {
    font-family: var(--header-font);
}

main {
    background-color: rgba(98, 184, 236, .6);
    color: #fff;
    padding: 20px;
    display: grid;
    /* grid-template-columns: auto auto; */
    /* border: .5rem solid var(--fire-engine-red); */
    /* border-radius: 20px 20px; */
}

p {
    font-family: var(--paragraph-font);
}

.card {
    margin: 20px;
    padding: 20px;
    background-color: rgba(84, 122, 46, .8);
    border-radius: 25px 25px;
    text-align: center;
}

.card p, .card h2 {
    padding: 3px;
}

h2 {
    font-size: 20px;
    font-family: var(--heading-font);
    color: var(--font);
}

p {
    font-size: (16px);
    font-family: (var(--paragraph-font));
    color: var(--font);
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: rgb(152, 166, 166);
    border: 1.5px solid var(--fire-engine-red);
    border-radius: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards img {
    width: auto;
    max-width: 300px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}

table, tr, td {
    border: 2px solid var(--cadet-gray);
    text-align: center;
}

table {
    width: 50%;
    justify-self: center;
}

tr {
    height: 44px;
    color: black
}

.Member {
    background-color: rgba(205, 127, 50, .6); 
}

.Silver {
    background-color: rgba(192, 192, 192, .6);
}

.Gold {
    background-color: rgba(255, 215, 0, .6);
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

footer div {
    text-align: center;
    align-content: center;
    padding: 15px
}

div a img{
    /* ensure even spacing without vertical axis spacing */
    padding: 0 1rem;
}

@media (min-width: 550px) {

    .navigation,
    ul.open {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    li.active a {
        background-color: rgba(0, 0, 139, .2);
    }

    #myButton {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    nav.animateMe {
        grid-template-rows: 1fr;
    }
}